footer{
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
body {
	background-color: lightpink;
	font-family: Arial,Helvetica,San-serif;
	text-align: center;
        background-image: url("backgrndimg.jpg");
	background-attachment: scroll;
}
h1{
	margin-bottom: 0.5rem;
	margin-top: 3.0rem;
	text-shadow: 2px 2px green;
}
h2{
	margin-bottom: 0.5rem;
	margin-top: 3.0rem;
    text-shadow: 2px 2px red;
}
h3{
	margin-bottom: 0.5rem;
	margin-top: 3.0rem;
    text-shadow: 2px 2px red;
}
a{
	color: green;
	/*text-decoration: none; this means to remove the line below clickable text*/
}
